<html lang="en">
<head>
    <style>
        .dismissButton {
            background-color: #fff;
            border: 1px solid #dadce0;
            color: #1a73e8;
            border-radius: 4px;
            font-family: Roboto,sans-serif;
            font-size: 14px;
            height: 36px;
            cursor: pointer;
            padding: 0 24px
        }

            .dismissButton:hover {
                background-color: rgba(66,133,244,0.04);
                border: 1px solid #d2e3fc
            }

            .dismissButton:focus {
                background-color: rgba(66,133,244,0.12);
                border: 1px solid #d2e3fc;
                outline: 0
            }

            .dismissButton:hover:focus {
                background-color: rgba(66,133,244,0.16);
                border: 1px solid #d2e2fd
            }

            .dismissButton:active {
                background-color: rgba(66,133,244,0.16);
                border: 1px solid #d2e2fd;
                box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15)
            }

            .dismissButton:disabled {
                background-color: #fff;
                border: 1px solid #f1f3f4;
                color: #3c4043
            }
    </style>
    <style>
        .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
            font-weight: 400
        }

        .gm-style .gm-style-mtc ul, .gm-style .gm-style-mtc li {
            box-sizing: border-box
        }
    </style>
    <style>
        .gm-control-active > img {
            box-sizing: content-box;
            display: none;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%)
        }

            .gm-control-active > img:nth-child(1) {
                display: block
            }

        .gm-control-active:hover > img:nth-child(1), .gm-control-active:active > img:nth-child(1) {
            display: none
        }

        .gm-control-active:hover > img:nth-child(2), .gm-control-active:active > img:nth-child(3) {
            display: block
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400">
    <style>
        .gm-ui-hover-effect {
            opacity: .6
        }

            .gm-ui-hover-effect:hover {
                opacity: 1
            }
    </style>
    <style>
        .gm-style .gm-style-cc a, .gm-style .gm-style-cc button, .gm-style .gm-style-cc span, .gm-style .gm-style-mtc div {
            font-size: 10px;
            box-sizing: border-box
        }
    </style>
    <style>
        media print {
            .gm-style .gmnoprint, .gmnoprint

        {
            display: none
        }

        }

        media screen {
            .gm-style .gmnoscreen, .gmnoscreen

        {
            display: none
        }
        }
    </style>
    <style>
        .gm-style-pbc {
            transition: opacity ease-in-out;
            background-color: rgba(0,0,0,0.45);
            text-align: center
        }

        .gm-style-pbt {
            font-size: 22px;
            color: white;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            margin: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%)
        }
    </style>
    <style>
        .gm-style img {
            max-width: none;
        }

        .gm-style {
            font: 400 11px Roboto, Arial, sans-serif;
            text-decoration: none;
        }
    </style>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>avalon</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="" type="image/gif">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/ru_ALL/controls.js"></script>
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    @*<div class="loader_bg" style="display: none;">
            <div class="loader"><img src="images/loading.gif" alt=""></div>
        </div>*@
    <!-- end loader -->

    <div class="wrapper">

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                    <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">

                        <div id="dismiss">
                            <i class="fa fa-arrow-left"></i>
                        </div>

                        <ul class="list-unstyled components">

                            <li class="active">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li>
                                <a href="#why_choose_us">why Choose Us</a>
                            </li>
                            <li>
                                <a href="#testimonial">Testimonial</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </nav>
        </div>


        <div id="content">


            <!-- section -->
            <section id="home" class="top_section">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- header -->
                        <header>
                            <!-- header inner -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 logo_section">
                                        <div class="full">
                                            <div class="center-desk">
                                                <div class="logo"> <a asp-controller="Home" asp-action="Index"><img src="/images/logo.png" alt="#"></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="right_header_info">
                                            <ul>
                                                <li><img style="margin-right: 15px;" src="/images/phone_icon.png" alt="#"><a href="#">987-654-3210</a></li>
                                                <li><img style="margin-right: 15px;" src="/images/mail_icon.png" alt="#"><a href="#">demo@gmail.com</a></li>
                                                <li><img src="/images/search_icon.png" alt="#"></li>
                                                <li>
                                                    <button type="button" id="sidebarCollapse">
                                                        <img src="/images/menu_icon.png" alt="#">
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end header inner -->
                        </header>
                        @RenderBody()
                    </div>
                </div>
            </section>
            <!-- footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="full">
                                <h3>AVALON MOTORS</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="full">
                                <ul class="social_links">
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <h4 class="widget_heading">SUBSCRIBE</h4>
                            </div>
                            <div class="full subribe_form">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input type="email" name="mail" placeholder="Enter your email">
                                        </div>
                                        <div class="field">
                                            <button class="submit_bt">Sumbit</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <h4 class="widget_heading">Usefull Links</h4>
                            </div>
                            <div class="full f_menu">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Our Cars</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <h4 class="widget_heading">Contact Details</h4>
                                <div class="full cont_footer">
                                    <p><strong>AVALON Car : Adderess</strong><br><br>Newyork 10012, USA<br>Phone: +987 654 3210<br>demo@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
            <!-- copyright -->

            <div class="cpy_right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <p>© 2019 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right copyright -->

        </div>
    </div>

    <div class="overlay"></div>


    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- Scrollbar Js Files -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: { lat: 40.645037, lng: -73.880224 },
            });

            var image = '~/images/location_point.png';
            var beachMarker = new google.maps.Marker({
                position: { lat: 40.645037, lng: -73.880224 },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&amp;callback=initMap"></script>
    <!-- end google map js -->


</body>
</html>